html {
    box-sizing: border-box;
}
body {
    margin: 0;
    /*use the full height of the screen */
    min-height: 100vh;
    background-color: #BDE6D5;
    color: #949191;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100vw;
}
.navbar {
    background-color: #383838;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 30px;
    left: 0px;
    padding: 10px;
    margin: auto;
    z-index: 1;
}
nav{
    font-size: 28px;
    text-transform: lowercase;
    line-height: 25px;
    letter-spacing: -1px;
    font-weight: normal;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a, .navbar i, .navbar span {
    margin: 5px 5px 0 5px;
}
.navbar a, .navbar i{
    color: #FFFFFF;
    font-size: 25px;
    text-transform: lowercase;
    line-height: 11pt;
    text-decoration: none;
}
.navbar span {
    font-size: 40px;
    text-transform: lowercase;
    line-height: 11pt;
    text-decoration: none;
}
main {
    margin-top: 60px;
}
.profile {
    position: fixed;
    left: 990px;
    top: 120px;
}
.profiletext{
    background-color: white;
    width: 170px;
    font-size: 12px;
}
.profiletext p {
    padding: 5px;
}
.profile-container {
    background-color: white;
    width: 170px;
}
.profilepic {
    width: 150px;
    padding: 10px;
}

.portfolio {
    margin: 120px auto;
    width: 500px;
    text-align: center;
}
.text {
    margin-right: 13px;
    padding: 3px;
}
.page {
    margin-bottom: 10px;
    padding-right: 5px;
    background-color: #F9F9F9;
    width: 100%;
}
.page h2{
    color: #949191;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.page p{
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    padding: 0px 50px 10px 0px;
    margin: 5px 5px 0px 0px;
}
.page img {
    border: 0px !important;
    width: 95%;
    margin: 10px 0px 0px 0px;
    padding-bottom: 0;
}

footer {
    padding: 10px;
    width: 100%;
    background-color: #F9F9F9;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .profile {
        display: none;
    }
}
@media screen and (max-width: 700px){
    nav{
        text-transform: lowercase;
        line-height: 11pt;
        letter-spacing: -1px;
        font-weight: normal;
        text-decoration: none;
        display: block;
    }
    .navbar {
        position: fixed;
    }
    .navbar a, .navbar i{
        color: #FFFFFF;
        font-size: 20px;
    }
    .navbar span {
        font-size: 40px;
        margin: auto 2px;
    }
    .profile {
        display: none;
    }
    .container {
        width: 400px;
    }
}
@media screen and (max-width: 400px){
    nav{
        text-transform: lowercase;
        line-height: 11pt;
        letter-spacing: -1px;
        font-weight: normal;
        text-decoration: none;
        display: block;
    }
    .navbar {
        position: fixed;
        width: 100%;
    }
    .navbar a, .navbar i{
        color: #FFFFFF;
        font-size: 18px;

    }
    .navbar span {
        font-size: 30px;
        margin: auto 1px;
    }
    .profile {
        display: none;
    }
    .container {
        width: 400px;
    }
    .portfolio {
        width: 80%;
        margin: 10px auto;
    }
}
